.banner {
  background-image: url('https://images.unsplash.com/photo-1640127249305-793865c2efe1');
  background-size: cover;
  height: 100vh;
  color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 40vh;
}

.banner h1 {
  text-align: center;
  margin: 0;
  color: black;
  font-size: 50px;
  font-weight: bold;
}
